@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Regular"),
    url("../font/Roboto.woff") format("woff");
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
  height: 100%;
}

body {
  background-image: url('Bitrix.jpg');
  background-size: cover;
  color: #132c42;
}

h1 {
  text-align: center;
  color: white;
  margin: 50px 0 120px;
  text-shadow: 0 0 6px black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 30px 30px 0;
  list-style: none;
  text-align: center;
}

li:last-child {
  margin-right: 0;
}

.invisible_line {
  display: none;
}

.index a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: 6px solid #132c42;
  border-radius: 10px;
  width: 180px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);

  transition-duration: 0.5s;
}

.index a:hover {
  background-color: rgba(255, 255, 255, 1);
  border-style: double;
}

.simple {
  display: inline;
  border: none;
  background-color: transparent;
}

.simple:hover {
  border: none;
  color: darkgreen;
}

.sketch {
  width: 80%;
  margin: 15px 10%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #132c42;
  border: solid 4px white;
  border-radius: 10px;
}

.sketch:hover {
  border-color: gray;
  background-color: white;
}

.sketch a {
  text-decoration: none;
  color: inherit;
}

.sketch a:hover {
  color: orange;
}

.sketch h2 {
  color: black;
}

.ip {
  margin: 10px 0 0 20px;
  color: white;
  line-height: 1.5em;
}
